.header {
  margin: 25px 0;
  align-items: center;
}
.input-group-text{
  width: 180px;
}
.event div {
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #71cf6e;
}
